{% extends "::base.html.twig" %}

{% block title %}CodeCarBundle:Car:index{% endblock %}

{% block body %}
<h1>Lista de modelos de veículos</h1>
<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>
        </tr>
    </thead>
    <tbody>
{% for carro in carros %}
    <tr>
        <td>{{ carro.nome }}</td>
        <td>{{ carro.modelo }}</td>
        <td>{{ carro.ano }}</td>
        <td>{{ carro.cor }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
