.idea/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
README_ORIGINAL.md
UPGRADE_ORIGINAL.md
UPGRADE-2.2_ORIGINAL.md
UPGRADE-2.3_ORIGINAL.md
UPGRADE-2.4_ORIGINAL.md
LICENSE
