<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>Symfony APP</title>
    <meta name="Author" content="Bruno Marques"/>
</head>
<body>

Olá {{ nome }}!

</body>
</html>
