<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>Primeiro Projeto - Symfony</title>
    <meta name="Author" content="Bruno Marques"/>
</head>
<body>

    O carro: {{ marca|upper }} {{ modelo|upper }} correu!

</body>
</html>
